<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- This file demonstrates the use of some <gazebo> tags -->

    <!-- To include it add the following line -->
    <!-- <xacro:include filename="example_gazebo.xacro" /> -->



    <!-- Gazebo is unable to use the same <material> tags that are already in the URDF (that RViz uses). -->
    <!-- Instead, we need to add gazebo tags for our links that refer to Gazebo materials -->


    <gazebo reference="base_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="x_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="y_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="z_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Gazebo requires the use of plugins to interact with other systems such as ROS. -->

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="x_joint">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
        <joint name="y_joint">
            <command_interface name="position" />   
            <state_interface name="position" />
        </joint>
        <joint name="z_joint">
            <command_interface name="position" />   
            <state_interface name="position" />
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameter> $find(GantBot)/config/gantry_controller.yaml </parameter>
        </plugin>
    </gazebo>


</robot>